<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h4 class="text-center"><a href="/">Study Ireland</a></h4>
    </div>

    <ul class="list-unstyled components">
      <li *ngFor="let resource of renderList" class="list-unstyled components" (click)="changeMode(resource.mode)">
        <a
          href="#{{ resource.id }}"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >{{ resource.name }}</a
        >
        <ul class="collapse list-unstyled" id="{{ resource.id }}">
          <li *ngFor="let list of model[resource.modelList]" style="text-align: center;">
            <span style="padding: 5px 0px; cursor: pointer;" (click)="show(list, resource.mode)">{{ list }}</span>
            <i class="lni-trash" [swal]="deleteSwal" aria-hidden="false"></i>
            <swal #deleteSwal
              title="Delete {{ list }}?"
              text="This cannot be undone"
              icon="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="delete(list, resource.mode)">
            </swal>
          </li>
          <li class="add-blog">
            <button data-toggle="modal" data-target="#add-blog" (click)="contentType=resource.mode">
              {{ resource.addName }}
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-toggler">
          <i class="fas fa-align-left"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>

        <div class="ml-auto text-center">
          <img
            src="./assets/images/si-logo.png"
            style="height: 50px; width: 130px;"
          />
        </div>

        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://api.whatsapp.com/send?phone=917050512345"
                text="Hello,%20I%20am%20looking%20to%20study%20in%20Ireland%20and%20want%20to%20know%20more%20about%20your%20services.%20Can%20we%20talk?"
              >
                <i class="lni-whatsapp"></i>
                Send Message
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+917050512345">
                <i class="lni-phone-handset"></i>
                Call us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../contact-us/">
                <i class="lni-book"></i>
                Book a Free Consultation
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <ng-container>

      <nav style="text-align: right; padding: 5px; margin: 5px; border-radius: 5px; border: 1px solid black;" *ngIf="model.blogData.title">
        <span style="padding: 5px"><i class="lni-link" aria-hidden="false"></i> </span>
        <span style="padding: 5px; color: darkgrey; font-size: small;">{{ generateUrl() }}</span>
        <button style="padding: 5px; border: 1px solid black; border-radius: 5px; cursor: pointer;" ngxClipboard [cbContent]="generateUrl()">
            <i class="lni-files" aria-hidden="false"></i>
        </button>
      </nav>

      <label *ngIf="renderImage()" for="upload-image" class="btn btn-info">Add {{contentType}} Image</label>
      <input *ngIf="renderImage()"
        #unifile
        id="upload-image"
        type="file"
        (change)="preview(unifile.files)"
      />
      <label *ngIf="renderImage(true)" for="upload-logo" class="btn btn-info">Add {{contentType}} logo</label>
      <input *ngIf="renderImage(true)"
        #logofile
        id="upload-logo"
        type="file"
        accept="image/*"
        (change)="logo(logofile.files)"
      />
      <div *ngIf="renderImage()" class="university-landing-image" style="width: 100%; height:340px">
        <img
          class="img-fluid thumbnail-img"
          [src]="model.imgURL"
          *ngIf="model.imgURL"
        />
      </div>

      <div class="row col-12">
        <h3>
          <input
            type="input"
            [disabled]="active"
            [(ngModel)]="model.blogData.title"
            value="title"
            class="university-header"
          />
        </h3>
        <button class="edit-title" (click)="editTitle()">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
      <div class="inner-section-spacing">
        <tag-input
          [(ngModel)]="model.blogData.tags"
        >
        </tag-input>
      </div>

      <ckeditor [editor]="Editor" [(ngModel)]="model.data"></ckeditor>
      <button (click)="uploadPost('')" class="btn btn-primary">Submit</button>
      <button (click)="uploadPost(true)" class="btn btn-primary">Publish</button>
      <button (click)="uploadPost(false)" class="btn btn-primary">Unpublish</button>
      <button routerLink="/publish" class="btn btn-primary">Go to publish</button>
    </ng-container>

      <!-- Snackbar starts here -->
      <div id="snackbar">Saved!</div>
      <!-- Snackbar ends here -->

      <!-- Modal starts here -->

      <div
        class="modal fade"
        id="add-blog"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input
                class="modal-input"
                type="text"
                [(ngModel)]="blogTitle"
                placeholder="Enter {{contentType}} name here"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="createBlog(blogTitle, contentType)"
                data-dismiss="modal"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal ends here -->
    </div>
  </div>
</div>
